{% extends "base.html" %}
{% block body %}

<h1> Contact Us </h1>

<h2> Address: </h2> 
<p> Langara College - Vancouber - BC </p>

<h2> Phone: </h2> 
<p> 911 </p>

<h2> Map: </h2> 
<p> Insert iframe google map </p>

<form method="POST">
    <p> name: <input type="text" id="fname"> </input></p>
    <p> message: <input type="text" id="fmessage"> </input></p>
    <p> email/phone: <input type="text" id="fcontact"> </input></p>
    <input type="submit" id="fsubmit"> </input>
</form>
	

{% endblock %}
