/*  GENERAL */
    /* set html height to trick the menu bar to be at full height */
    html {
      	height: 100%;
      	margin: auto;
      	padding: 0;
      	margin: 0;
    }

    body {
        font-family: "Arial, Helvetica, sans-serif";
        height: 100%;
        padding: 0;
      	margin: 0;
    }

    a {
      	text-decoration: none;
      	color : black;
      	font-size: 23px;
    }

    li:hover {
        width: 100%;
      	background-color : #00BFFF;
      	cursor: pointer;
    }

	ul {
	}

    li {
      	list-style-type:none;
    }

	td {
		text-align:center;
	}

	button{

	    cursor: pointer;

	}

	input{

	    cursor: pointer;
	}
    

/* END GENERAL */


/* HEADER */

    .header {
        float:left;
        height: 100%;
        background-color:#87ceeb;
    }

    .menu-header{
      width:100%;
      font-size:1.5rem;
    }

	.menu-header *{
		color:white;
	}

    .main-content{
        width: 70%;
    }

	#menu-main {
		background-color:#87ceeb;
		display:none;

	}

	#menu-main li{

	    padding-left: 20px;
	    width: 93.2%;

	}

    footer {
      clear:both;
    }

/* END HEADER */


/* BODY */

    li span{

        padding-left: 10px;

    }

	.header h2 {
	    color : white;
	    padding: 15px;
	}

	form input {
	    font-family: "Arial, Helvetica, sans-serif";
        font-size: 15px;
	}

    .header {
        padding: 0;
        margin:0;
		width:17%;
    }

    #form-logout input:hover{
        color: 1e90ff;
    }

	#form-logout input{
		font-size:1.5rem;
		padding:0 !important;
		margin-left:0px !important;
	}

    .menu-header{
      padding-top: 20px;
      padding-left: 0;
      background-color:#87ceeb;
    }

    .menu-header li .form {
        padding-bottom: 0px;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        border: none;
    }
    .menu-header li {
        padding-bottom: 10px;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        border: none;
    }

    #menu-sub-1{
        display: none;
    }

    #menu-sub-2{
        display: none;
    }

    #menu-sub-2 li{
        padding-left: 40px;
        width: 86%;
    }

    #menu-sub-1 li{
        padding-left: 40px;
        width: 86%;
    }

    .logout-button{
        width: 100%;
        height:100%;
        background-color:#87ceeb;
        border: none;
        cursor: pointer;
    }

    form input[name="logout"]: hover .logout-button[name="logout"]{

        background-color : #00BFFF;
        color: #00BFFF;

    }

    body > div.swal2-container.swal2-center.swal2-fade.swal2-shown > div > div.swal2-actions > button.swal2-confirm.swal2-styled {
        display:none;
    }


/* END BODY */
