/*  GENERAL */
    /* set html height to trick the menu bar to be at full height */
    html {
      	height: 100%;
      	margin: auto;
      	padding: 0;
      	margin: 0;
    }

    body {
        font-family: "Arial, Helvetica, sans-serif";
        height: 100%;
        padding: 0;
      	margin: 0;
    }

    a {
      	text-decoration: none;
      	color : black;
      	font-size: 23px;
    }

    a:hover {
      	color : #1e90ff;
      	cursor: pointer;
    }

	ul {
	}

    li {
      	list-style-type:none;
    }

	td {
		text-align:center;
	}

/* END GENERAL */


/* HEADER */

    .header {
        padding: 15px;
        float:left;
        height: 100%;
        background-color:#87ceeb;
    }

    .menu-header{
      float:left;
      width:75%;
      font-size:1.5rem;
    }

	.menu-header *{
		color:white;
	}

    .main-content{
        float:right;
        width: 80%;
    }

	#menu-main {
		background-color:#87ceeb;
		display:none;
		padding-left: 20px;
	}

    footer {
      clear:both;
    }

/* END HEADER */


/* BODY */

    a:hover {
		color : #1e90ff;
		text-decoration: none;
	}

	h1 {
	    color : white;
	}

	form input {
	    font-family: "Arial, Helvetica, sans-serif";
        font-size: 15px;
	}

    header {
    }

    #form-logout input:hover{
        color: 1e90ff;
    }

	#form-logout input{
		font-size:1.5rem;
		padding:0 !important;
		margin-left:0px !important;
	}

    .menu-header{
      padding-top: 20px;
      background-color:#87ceeb;
    }

    .menu-header li {
        margin-bottom: 20px;
    }

    #menu-sub-1{
        padding-left: 40px;
        display: none;
    }

    .logout-button{

        background-color:#87ceeb;
        border: none;
        cursor: pointer;
    }


/* END BODY */
