form span{

    display:inline-block;
    width: 200px;
    margin-bottom: 10px;

}

#name, #address{

    width: 105px;

}


td button{

    width: 100%;

}

td form input{

    width: 100%;

}

input[type='checkbox'] {
        width:30px;
        height:30px;
        background:white;
        border-radius:5px;
        border:2px solid #555;
    }

input[type='checkbox']:checked {
    background: #abd;
}

input[type='text'] {
    /*	width:30px;*/
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}