/*  GENERAL */
    /* set html height to trick the menu bar to be at full height */
    html {
      	height: 100%;
      	margin: auto;
    }

    body {
        font-family: "Arial, Helvetica, sans-serif";
        height: 100%;
    }

    a { 
      	text-decoration: none;
      	color : black ; 
    }

    a:hover { 
      	color : red; 
    }

	ul {
		background-color:#003366;
		display:block;
	}

    li {
      	list-style-type:none;
		border-bottom: 3px solid black;
    }

	td {
		text-align:center;
	}

/* END GENERAL */


/* HEADER */

    header {
    }

    .menu-header{
      float:left;
      width:18%;
      font-size:1.5rem;
    }

	.menu-header *{
		color:white;
	}

    .main-content{
      float:right;
      width: 75%;
    }

	#menu-main {
		float:left;
	}

    footer {
      clear:both;
    }

/* END HEADER */


/* BODY */

    header {
    }

    #form-logout input:hover{
      color:red;
    }

	#form-logout input{
		font-size:1.5rem;
		padding:0 !important;
		margin-left:0px !important;
	}

    .menu-header{
      padding-top: 20px;
      height: 100%;
      background-color:#003366;
      padding-left:-30px;
    }

    .menu-header li {
        margin-bottom: 20px;
    }

    #menu-main {
        background-color: #0066ff; 
    }

    #menu-sub-1{
        background-color:#3366ff;
    }


/* END BODY */
