{% extends "base.html" %}
{% block body %}
{% if user.Salary == None %}
    <script> document.location.href="/" </script>
{% endif %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin.css')}}" />

<h1 style="text-align:center;"> All Staff </h1>

<h1> {{message}} </h1>

<script>

    function addNew(){
        swal('<form action="/addstaff" method="POST" >'+
             '<h2> Add new Worker </h2>'+
             '<p>Name: <input type= "text" name="name" /></p>'+
             '<p>SIN: <input type="text" name="sin" /></p>'+
             '<p>Address: <input type="text" name="address" /></p>'+
             '<p>BirthDate: <input type="text" name="birthdate" /></p>'+
             '<p>Phone: <input type="text" name="phone" /></p>'+
             '<p>Email: <input type="text" name="email" /></p>'+
             '<p>Bank Info: <input type="text" name="bank" /></p>'+
             '<input type="submit" style = "background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 32px;" value="Add new Worker" />'+
             '</form> ');
    }

    function modify(id){
        swal('<form action="/modstaff" method="POST">'+
             '<h2> Modify Staff</h2>'+
             '<span>SKU:</span> <input type="text" name="staff_id" value="'+id+'" /><br><br>'+
             '<span>Name:</span> </span><input type="text" name="name" /><br><br>'+
             '<span>SIN:</span><input type="text" name="SIN" /><br><br>'+
             '<span>Address:</span><input type="text" name="address" /><br><br>'+
             '<span>Birthdate:</span><input type="text" name="birthdate" /><br><br>'+
             '<span>Phone Number:</span><input type="text" name="phone_num" /><br><br>'+
             '<span>Email:</span><input type="text" name="email" /><br><br>'+
             '<span>Bank Info:</span><input type="text" name="bank_info" /><br><br>'+
             '<span>Date Started:</span><input type="text" name="date_start" /><br><br>'+
             '<input type="submit" style = "background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 32px;" value="Modify" />'+
             '</form> ');
    }
</script>

<p style="width: 100px; padding-bottom: 30px;">
	<div onclick="addNew()" style="cursor: pointer; margin-left:45%; display: inline-block; border: 2px solid blue; color:purple; padding:10px;"> Add New Staff </div>
</p>

<table cellspacing="10px">
    <thead>
        <tr>
            <td>Staff ID </td>
            <td>Name</td>
            <td>SIN</td>
            <td>Address</td>
            <td>BirthDate</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Start Date</td>
        </tr>
    </thead>
    <tbody>
        {% for staff in people %}
            <tr>
                <td>{{staff.Staff_ID}} </td>
                <td>{{staff.Name}} </td>
                <td>{{staff.sSin}} </td>
                <td>{{staff.Address}} </td>
                <td>{{staff.Birthdate}} </td>
                <td>{{staff.PhoneNum}} </td>
                <td>{{staff.Email}} </td>
                <td>{{staff.Date_info_Start}} </td>
                <td><button onclick="modify({{staff.Staff_ID}})"> Modify </button></td>
                <td>
                    <form method="POST" action="/delstaff">
                        <input type="text" name="id" value={{staff.Staff_ID}} style="display:none"/>
                        <input type="submit" style="background-color: red; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" value="Delete"/> 
                    </form>
                </td>
                <td><button onclick="analize({{staff.Staff_ID}});">Dependants</button></td>
            </tr>
            {% for mod in modify %}
                {% if mod.Staff_ID==staff.Staff_ID %}
                <tr> 
                    <td colspan=8>
                        <b>Modify </b>Date: {{mod.Date_info}} SKU: {{mod.SKU}}
                    </td>
                </tr> 
                {% endif %}
            {% endfor %}
            {% for quan in quantify %}
                {% if quan.Staff_ID==staff.Staff_ID %}
                <tr> 
                    <td colspan=8>
                        <b>Quantify</b>  SKU: {{quan.SKU}} Date:{{quan.Date_info}}
                    </td>
                </tr> 
                {% endif %}
            {% endfor %}


        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    function analize(s_id){
        fetch("http://35.182.249.219:5000/api/staffs/"+s_id)
            .then((value) => value.json())
            .then((valueJSON)=> {
                let output = "Dependants: \n\n";

                for (let data of valueJSON){	
                    output+=  "Staff_ID: "+data["Staff_ID"]+"\n\n"+
                              "SIN: "+data["dSin"]+"\n\n"+
                              "Name: "+data["d_Name"] +"\n\n"+
                              "Birthdate: " +data["Birthdate"]+"\n";
                }

                swal(output);
            });
    }
</script>


{% endblock body %}
