{% extends "base.html" -%}
{% block body %}
	{% if user.Salary == None %}
		<script> document.location.href="/" </script>
	{% endif %}

	<h1> {{message}} </h1>

	<form action="/addstaff" method="POST" style="float:left; width:47%">
		<h2> Add new Worker </h2>
		<p>Name: <input type="text" name="name" /></p>
		<p>SIN: <input type="text" name="sin" /></p>
		<p>Address: <input type="text" name="address" /></p>
		<p>BirthDate: <input type="text" name="birthdate" /></p>
		<p>Phone: <input type="text" name="phone" /></p>
		<p>Email: <input type="text" name="email" /></p>
		<p>Bank Info: <input type="text" name="bank" /></p>
		<input type="submit" value="Add new Worker" />
	</form>

	<form action="/modstaff" method="POST" style="float:right; width:47%; display:none">
		<h2> Modify Staff</h2>
		<p>SKU: <input type="text" name="sku" /></p>
		<p>Name: <input type="text" name="name" /></p>
		<p>Price: <input type="text" name="price" /></p>
		<p>Amount: <input type="text" name="amount" /></p>
		<p>section: <input type="text" name="section" /></p>
		<p>weight (g/item): <input type="text" name="weight" /></p>
		<input type="submit" value="Modify" />
	</form>

<div style="clear:both; margin-bottom:20px"> </div>


	<h1> Administraion Management </h1>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>Staff ID </td>
				<td>Name</td>
				<td>SIN</td>
				<td>Address</td>
				<td>BirthDate</td>
				<td>Phone</td>
				<td>Email</td>
				<td>Start Date</td>
			</tr>
		</thead>
		<tbody>
			{% for staff in people %}
				<tr onclick="analize({{staff.Staff_ID}});">
					<td>{{staff.Staff_ID}} </td>
					<td>{{staff.Name}} </td>
					<td>{{staff.sSin}} </td>
					<td>{{staff.Address}} </td>
					<td>{{staff.Birthdate}} </td>
					<td>{{staff.PhoneNum}} </td>
					<td>{{staff.Email}} </td>
					<td>{{staff.Date_info_Start}} </td>
					<td><button> Modify </button></td>
					<td>
						<form method="POST" action="/delstaff">
							<input type="text" name="id" value={{staff.Staff_ID}} style="display:none"/>
							<input type="submit" value="delete"/> 
						</form>
					</td>
				</tr>
				{% for mod in modify %}
					{% if mod.Staff_ID==staff.Staff_ID %}
					<tr> 
						<td colspan=8>
							<b>Modify </b>Date: {{mod.Date_info}} SKU: {{mod.SKU}}
						</td>
					</tr> 
					{% endif %}
				{% endfor %}
				{% for quan in quantify %}
					{% if quan.Staff_ID==staff.Staff_ID %}
					<tr> 
						<td colspan=8>
							<b>Quantify</b>  SKU: {{quan.SKU}} Date:{{quan.Date_info}}
						</td>
					</tr> 
					{% endif %}
				{% endfor %}


			{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript">
		function analize(s_id){
			fetch("http://35.182.249.219:5000/api/staffs/"+s_id)
				.then((value) => value.json())
				.then((valueJSON)=> {
					console.log("clickeD");
					let output = "Dependants: \n";

					for (let data of valueJSON){	
						output+=  "StaffID: "+data["Staff_ID"]+"\n"+
								  "SIN: "+data["dSin"]+"\n"+
								  "dName: "+data["d_Name"] +"\n"+
								  "birthdate: " +data["Birthdate"]+"\n";
					}

					confirm(output);
				});
		}
	</script>


{% endblock body %}
