<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
	 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}" />
		<title> Simple WareHouse</title>

		<div style="position:fixed; top:0;" >
				{% if not user %}
			<script type="text/javascript" defer>
                if (document.location.href.indexOf("login")<0)
                    document.location.href="/login"; 
            </script>
				{% else %}
			<span> Hello {{user.Name}}</span>
                {% endif %}
		</div>
	</head>

	<body>
		<header>
			<h1>Simple WareHouse</h1>
		</header>
		<ul class="menu-header" >
			<li class="nav-item">
				<a  href="{{ url_for('index') }}">Home</a>
			</li>
			<li class="nav-item">
				<a  href="{{ url_for('profile') }}">My Profile</a>
			</li>
            <li class="nav-item">
                <a onclick="open_manage();"> Manage Business &#9662</a>
            </li>
            <div id="menu-main">
				<li class="nav-item">
					<a href="{{ url_for('products') }}">&#9656 Product</a>
				</li>
				<li class="nav-item">
					<a onclick="open_sub();">&#9656 Clients &#9662</a>
				</li>
				<div id="menu-sub-1">
					<li class="nav-item">
						<a href="{{ url_for('vendors') }}">&#9657 Vendors</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('producers') }}">&#9657 Producers</a>
					</li>
				</div>
                {% if user.Salary %}
                <li class="nav-item">
                    <a href="{{ url_for('admin') }}">&#9656 Admin</a>
                </li>
                {% endif %}
            </div>

			<li class="nav-item">
				<a href="{{ url_for('contact') }}">Contact</a>
			</li>
			<li class="nav-item">
				<a href="{{ url_for('about') }}">About</a>
			</li>
			<li class="nav-item">
				<form method="POST" action="/logout" id="form-logout">
					<input class="logout-button" type="submit" name="logout" value="Log Out" style="font-size: 18px;"/>
				</form>
			</li>
		</ul>

		<div class="main-content">
			{% block body %} {% endblock %}
		</div>
		<footer>
            <script type="text/javascript"> 
 
                function open_manage(){
                    let type = document.getElementById("menu-main").style.display;
                    if (type == "none" || type == ""){
                        document.getElementById("menu-main").style.display="block";
                    } else {
                        document.getElementById("menu-main").style.display="none";
                    }
                }

                function open_sub(){
                    let type = document.getElementById("menu-sub-1").style.display;
                    if (type == "none" || type == ""){
                        document.getElementById("menu-sub-1").style.display="block";
                    } else {
                        document.getElementById("menu-sub-1").style.display="none";
                    }
                }               

				function test_api(){
					fetch("/api/Products")
						.post({"checking":123});;
				}
            </script>
		</footer>
	</body>

</html>
