{% extends "base.html" %}
{% block body %}

<h1 style="text-align:center"> Producers Manager </h1>

<h1> {{message}} </h1>

<script>

	function addNew(){
		swal(' <form action="/addproducers" method="POST" > <h3> Add New Producer </h3><p> Name: <input type="text" name="name" /> </p> <p> Email: <input type="text" name="email" /> </p><p> Phone: <input type="text" name="phone" /> </p><p> Address: <input type="text" name="address" /> </p><p> Owner Name: <input type="text" name="owner_name" /> </p><input type="submit" value="Add New" style="font-size:20px"/></form> ');
	}
	
	function modify(id){
		swal('<form action="/modproducers" method="POST"><h3> Modify Producer by ID</h3><p> ID: <input type="text" name="id" value="'+id+'" /> </p><p> Name: <input type="text" name="name" /> </p><p> Email: <input type="text" name="email" /> </p><p> Phone: <input type="text" name="phone" /> </p><p> Address: <input type="text" name="address" /> </p><p> Owner Name: <input type="text" name="owner_name" /> </p><input type="submit" value="Add New" /></form>');
	}
</script>

<h2> List of Producers </h2>
<p>
	<a onclick="addNew()" style="margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Add New Producer </a>
	{% if user.Salary %}
	<a onclick="modify(0)" style="margin-left:20%;border: 2px solid blue; color:purple; padding:10px;"> Modify Producer </a>
	{% endif %}
</p>
<table cellspacing="20px" style="text-align:center">
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Email</td>
			<td>Owner</td>
			<td>Phone</td>
			<td>Address</td>
			<td>Total Avenue</td>
		</tr>
	</thead>
	<tbody>
		{% for producer in list_party %}
			<tr onclick="analize({{producer.P_ID}});">
				<td>{{producer.P_ID}}</td>
				<td>{{producer.P_Name}}</td>  
				<td>{{producer.Email}}</td>
				<td>{{producer.Owner_Name}}</td>
				<td>{{producer.PhoneNum}}</td>
				<td>{{producer.Address}}</td>
				{% for ministat in stat %}
					{% if ministat.P_ID == producer.P_ID %}
						<td> {{ministat.sum}}</td>
					{% endif %}
				{% endfor %}
				{% if user.Salary%}
					<td><button onclick="modify({{producer.P_ID}})"> Modify </button></td>
					<td>
						<form method="POST" action="/delproducer">
							<input type="text" name="p_id" value={{producer.P_ID}} style="display:none"/>
							<input type="submit" value="delete"/> 
						</form>
					</td>
				{% endif %}
			</tr>
            {% for import in list_order %}
                {% if import.P_ID == producer.P_ID %}
                <tr> 
                    <td colspan=6>
                        SKU:   {{import.SKU}} 
                        Amount:   {{import.Amount}}
                        Total Price:   {{import.Total_Price}}$
                        Date:   {{import.Date_info}}
                    </td>
                </tr> 
                {% endif %}
            {% endfor %}
		{% endfor %}
	</tbody>
</table>
	
<script type="text/javascript">
	function analize(p_id){
		fetch("http://35.182.249.219:5000/api/producers/"+p_id)
			.then((value) => value.json())
			.then((valueJSON)=> {
				let output = valueJSON[0]["COUNT(*)"] +" Import Order Was Made with this Producer";
				confirm(output);
			});
	}
</script>
{% endblock body %}
