{% extends "base.html" %}
{% block body %}

<h1 style="text-align:center"> Producers Manager </h1>

<h1> {{message}} </h1>

<script>
	function addNew(){
		swal('<form action="/addproducers" method="POST"<h3> Add New Producer </h3><br/><span> Name: </span><input type="text" name="name"><br><span> Email: </span><input type="text" name="email" /><br><span> Phone: </span><input type="text" name="phone" /><br><span> Address: </span><input type="text" name="address" /><br><span> Owner Name: </span><input type="text" name="owner_name" /><br><input type="submit" value="Add New" /></form> ');

	}
	
	function modify(id){
		swal('<form action="/modproducers" method="POST"><h3> Modify Producer by ID</h3><span> ID: </span><input type="text" name="id" /><br><span> Name: </span><input type="text" name="name" /><br><span> Email: </span><input type="text" name="email" /><br><span> Phone: </span><input type="text" name="phone" /><br><span> Address: </span><input type="text" name="address" /><br><span> Owner Name: </span><input type="text" name="owner_name" /><br><input type="submit" value="Add New" /></form> ');
	}

	function showImports(p_id){

		fetch("http://localhost:5000/api/producers/"+p_id)
			.then((value) => value.json())
			.then((valueJSON)=> {
				let output = valueJSON[0]["COUNT(*)"] +" Import Order Was Made with this Producer";

				var span = '<header> Import Info </header> <br> <p>' + output + '</p>'

				swal(span);

			});


	}
</script>

<h2 style="text-align:center; padding-bottom: 30px;"> List of Producers </h2>
<p>
	<a onclick="addNew()" style="margin-left:43%;border: 2px solid blue; color:purple; padding:10px; cursor: pointer;"> Add New Producer </a>
</p>
<table cellspacing="20px" style="text-align:center">
	<thead>
		<tr>
			<td>ID</td>
			<td id="name">Name</td>
			<td>Email</td>
			<td>Owner</td>
			<td>Phone</td>
			<td id="address">Address</td>
			<td>Total Revenue</td>
		</tr>
	</thead>
	<tbody>
		{% for producer in list_party %}
			<tr>
				<td>{{producer.P_ID}}</td>
				<td>{{producer.P_Name}}</td>  
				<td>{{producer.Email}}</td>
				<td>{{producer.Owner_Name}}</td>
				<td>{{producer.PhoneNum}}</td>
				<td>{{producer.Address}}</td>
				{% for ministat in stat %}
					{% if ministat.P_ID == producer.P_ID %}
						<td> {{ministat.sum}}</td>
					{% else %}
						<td></td>
					{% endif %}
				{% endfor %}
				{% if user.Salary%}
					<td><button onclick="modify({{producer.P_ID}})"> Modify </button></td>
					<td>
						<form method="POST" action="/delproducer">
							<input type="text" name="p_id" value={{producer.P_ID}} style="display:none"/>
							<input type="submit" value="Delete"/>
						</form>
					</td>
					<td><button onclick="showImports({{producer.P_ID}})">Imports #</button></td>
				{% endif %}
			</tr>
            {% for import in list_order %}
                {% if import.P_ID == producer.P_ID %}
                <tr> 
                    <td colspan=6>
                        SKU:   {{import.SKU}} 
                        Amount:   {{import.Amount}}
                        Total Price:   {{import.Total_Price}}$
                        Date:   {{import.Date_info}}
                    </td>
                </tr> 
                {% endif %}
            {% endfor %}
		{% endfor %}
	</tbody>
</table>

{% endblock body %}
