{% extends 'base.html' %}

{% block body %}

<h1 style="text-align:center"> Products Manager </h1>

<h1> {{message}} </h1>

<script>
	function addNew(){
	
		swal('<form action="/addproduct" method="POST"><h2> Add new Product </h2><p>SKU: <input type="text" name="sku" /></p><p>Name: <input type="text" name="name" /></p><p>Price: <input type="text" name="price" /></p><p>Amount: <input type="text" name="amount" /></p><p>section: <input type="text" name="section" /></p><p>weight (g/item): <input type="text" name="weight" /></p><input type="submit" value="Add new Value" /></form>');
	}

	function quantify(){
		swal('<form action="/quanproduct" method="POST"><h2> Quantify Product by SKU</h2><p>SKU: <input type="text" name="sku" /></p><p>Amount: <input type="text" name="amount" /></p><input type="submit" value="quantify" /> </form> ');
	}

	function modify(sku){
		swal('<form action="/modproduct" method="POST" ><h2> Modify Product by SKU</h2><p>SKU: <input type="text" name="sku" value="'+sku+'"/></p><p>Name: <input type="text" name="name" /></p><p>Price: <input type="text" name="price" /></p><p>Amount: <input type="text" name="amount" /></p><p>section: <input type="text" name="section" /></p><p>weight (g/item): <input type="text" name="weight" /></p><input type="submit" value="Modify" /></form> ');
	}
</script>

<h1 style="text-align:center; "> List of Products </h1>

<p>
	<a onclick="addNew()" style="margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Add New Product </a>
	{% if user.Salary %}
	<a onclick="modify(0)" style="margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Modify Product </a>
	{% endif %}
	<a onclick="quantify()" style="margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Quantify Product  </a>
</p>

<table cellspacing="20px" style="text-align:center">
	<thead>
		<tr>
			<td>SKU</td>
			<td>Name</td>
			<td>Amount</td>
			<td>section</td>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
			<tr onclick="analize({{product.SKU}});">
				<td>{{product.SKU}}</td>
				<td>{{product.Product_Name}}</td>  
				<td>{{product.Amount}}</td>
				<td>{{product.Section_Num}}</td>
				{% if user.Salary%}
					<td><button onclick="modify({{product.SKU}})"> Modify </button></td>
					<td>
						<form method="POST" action="/delproduct">
							<input type="text" name="sku" value={{product.SKU}} style="display:none"/>
							<input type="submit" value="delete"/> 
						</form>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>



<form style="width:35%; float:left; background-color:lightgreen; padding:10px"><h2> select your products </h2><p>SKU: <input type="text" id="sku" /></p><p>Name: <input type="checkBox" id="name" /></p><p>Price: <input type="checkBox" id="price" /></p><p>Amount: <input type="checkBox" id="amount" /></p><p>section: <input type="checkBox" id="section" /></p><p>weight (g/item): <input type="checkBox" id="weight" /></p>
    <p><button onclick="goProjection();" style="width:300px; height:50px"> Project Product </button> </p></form>
<h2><div id="projection"> </div></h2>

<script> 
	function analize(sku){
		fetch("http://35.182.249.219:5000/api/products/"+sku)
			.then((value) => value.json())
			.then((valueJSON)=> {
                let data = valueJSON[0];
				let output = "Name: "+data["Product_Name"] +"\n" +
                            "Price: "+data["Price"]+"$\n"+
                            "Section: "+data["Section_Num"]+ "\n"+
                            "Weight: "+data["Weight"]+" grams";
				confirm(output);
			});
	}

    function goProjection(){
        var query = {
            "SKU":document.getElementById("sku").value,
            "Product_Name":document.getElementById("name").checked,
            "Price":document.getElementById("price").checked,
            "Amount":document.getElementById("amount").checked,
            "Section_Num":document.getElementById("section").checked,
            "Weight":document.getElementById("weight").checked,
        };

		fetch("http://localhost:5000/api/product/", {
            method:"POST",
            body: JSON.stringify(query)
        })
            .then((value)=> value.json())
            .then((valueJSON)=> {
                let result = "sku: "+valueJSON[0]["SKU"]+"<p></p>";
                Object.keys(valueJSON[0]).forEach((key)=>{
                    console.log(key);
                    result+= key+": "+valueJSON[0][key]+"<p></p>";
                });
                document.getElementById("projection").innerHTML = result;
            });
    }
</script defer>

{% endblock %}
