{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/products.css')}}" />



{% block body %}

	<h1 style="text-align:center"> User Page </h1>
	<p style="text-align:center"> Welcome {{user.Name}} </p>

    <p> Name: {{user.Name}}</p>
    <p> ID: {{user.Staff_ID}}</p>
    <p> Address: {{user.Address}}</p>
    <p> Phone : {{user.PhoneNum}}</p>
    <p> Date Start: {{user.Date_info_Start}}</p>
    <p> Is Manager : {{user.Salary != None }} </p>
    <p>
		<a onclick="modUser('')" style="cursor: pointer; margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Modify User Profile</a>
		<!-- <a onclick="modUser()" style="cursor: pointer; margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Modify User Profile</a> -->
	</p>

{% endblock body %}

<script>
	function modUser(id){
		swal('<form action="/modprofile" method="POST" >'+
			 '<h2> Modify Product by SKU</h2>'+
			 '<p>Name: <input type="text" name="user.Name" /></p>'+
			 '<p>Address: <input type="text" name="user.Address" /></p>'+
			 '<p>Phone: <input type="text" name="user.PhoneNum" /></p>'+
			 '<input type="submit" value="Modify" />'+
			 '</form>');
	}
</script defer>
