{% extends "base.html" %}


{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}" />


<script>
	function modUser(id){
		swal('<form action="/modprofile" method="POST" >'+
			 '<h2> Modify Profile</h2>'+
			 '<span>Name:</span><input type="text" name="user.Name" /><br><br>'+
			 '<span>Address:</span><input type="text" name="user.Address" /><br><br>'+
			 '<span>Phone:</span><input type="text" name="user.PhoneNum" /><br><br>'+
			 '<input type="submit" style = "background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 32px;" value="Modify" />'+
			 '</form>');
	}
</script>

	<h1 style="text-align:center"> User Page </h1>
	<p style="text-align:center"> Welcome {{user.Name}} </p>

    <p> Name: {{user.Name}}</p>
    <p> ID: {{user.Staff_ID}}</p>
    <p> Address: {{user.Address}}</p>
    <p> Phone : {{user.PhoneNum}}</p>
    <p> Date Start: {{user.Date_info_Start}}</p>
    <p> Is Manager : {{user.Salary != None }} </p>
    <p>
		<div onclick="modUser({{user.Staff_ID}})" style="display: inline-block; cursor: pointer; margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Modify User Profile</div>
		<!-- <a onclick="modUser()" style="cursor: pointer; margin-left:15%;border: 2px solid blue; color:purple; padding:10px;"> Modify User Profile</a> -->
	</p>

{% endblock body %}
