{% extends "base.html" %}
{% block body %}
{% if user.Salary == None %}
    <script> document.location.href="/" </script>
{% endif %}

<h1 style="text-align:center"> Statistics </h1>

<h1> {{message}} </h1>

<div style="float:left; width:40%">
	<h2>Producers Ranked by Revenue</h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>P_ID</td>
				<td>Amount ($)</td>
			</tr>
		</thead>
		<tbody>
			{% for prod in producers %}
				<tr>
					<td>{{prod.P_ID}} </td>
					<td>{{prod.sum}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="float:right; width:40%">
	<h2>Popular Items from Producers </h2>
	<table cellspacing="10px" >
		<thead>
			<tr>
				<td>SKU</td>
				<td>Amount (per item)</td>
			</tr>
		</thead>
		<tbody>
			{% for prod in prod_producers %}
				<tr>
					<td>{{prod.SKU}} </td>
					<td>{{prod.sum}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="clear:both"> </div>

<div style="float:left; width:40%">
	<h2>Popular among vendors </h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>SKU</td>
				<td>Amount</td>
			</tr>
		</thead>
		<tbody>
			{% for ven in prod_vendors %}
				<tr>
					<td>{{ven.SKU}} </td>
					<td>{{ven.sum}} (items)</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="float:right; width:40%">
	<h2>Vendors Ranked by Revenue </h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>V_ID</td>
				<td>Amount ($)</td>
			</tr>
		</thead>
		<tbody>
			{% for ven in vendors %}
				<tr>
					<td>{{ven.V_ID}} </td>
					<td>{{ven.sum}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="clear:both"> </div>
<div style="float:left; width:40%">
	<h2> By Date: How many producers made order,and what is the total money spent</h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>Date</td>
				<td>Amount of Vendors</td>
				<td>Money Obtained ($)</td>
			</tr>
		</thead>
		<tbody>
			{% for ven in num_vendors %}
				<tr>
					<td>{{ven.Date_info}} </td>
					<td>{{ven.num_vens}} </td>
					<td>{{ven.sum}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="float:right; width:40%">
	<h2> # of Producer Orders and Total Cost per day</h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>Date</td>
				<td>Amount of Producer</td>
				<td>Money Spent ($)</td>
			</tr>
		</thead>
		<tbody>
			{% for prod in num_producers %}
				<tr>
					<td>{{prod.Date_info}} </td>
					<td>{{prod.num_prods}} </td>
					<td>{{prod.sum}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="clear:both"> </div>

<div style="float:left; width:40%">
	<h2> show V_ID of vendors who has purchased all products</h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>v_id</td>
			</tr>
		</thead>
		<tbody>
			{% for ven in bought_all %}
				<tr>
					<td>{{ven.V_ID}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="float:right; width:40%">
	<h2> show SKU of product exported to all vendors</h2>
	<table cellspacing="10px">
		<thead>
			<tr>
				<td>SKU</td>
			</tr>
		</thead>
		<tbody>
			{% for prod in export_to_all %}
				<tr>
					<td>{{prod.SKU}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock body %}
